.loginForm,
.inputContainerloginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonsFormContainer {
  display: flex;
}

.inputContainerloginForm input {
  border-radius: 10px;
  padding: 0.2rem;
}
